body {
  background-color: #C7C7C7;
  font-family: 'Baloo Da 2', cursive;
  font-size: 16px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
}

.high-score, .play-again {
  background-color:#00A752;
  border-radius: 5px;
  color: black;
  padding: 8px;
  text-decoration: none;
}

.description {
  margin-top: -60px;
}

.quest {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px;
  margin: auto;
  padding: 10px;
  width: 700px;
}

.title {
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: 20px 0px -20px;
}

.answers {
  color: #00A752;
  display: grid;
  gap: 10px;
  margin: 20px 180px;
}

button {
  background-color: #00A752;
  border: none;
  border-radius: 5px;
  font-family: 'Baloo Da 2', cursive;
  font-size: 18px;
}

.high-score:hover, .play-again:hover, button:hover {
  background-color: #25e07f;
  color: #4e4d4d;
}

.timer {
  color: #00A752;
  border-radius: 5px;
  border: groove #00A752;
  padding: 8px;
}

.start-btn {
  border-radius: 5px;
  background-color: #00A752;
  display: block;
  font-family: 'Baloo Da 2', cursive;
  font-size: medium;
  margin: auto;
  margin-top: 30px;
  padding: 5px 10px;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  white-space: break-spaces;
}

li {
  color: #00A752;
  display: flex;
  justify-content: center;
  margin: auto;
  word-spacing: 100px;
}

.saveInitials {
  background-color: #00A752;
  font-family: 'Baloo Da 2', cursive;
}

.input {
  border-radius: 5px;
}

@media (max-width: 768px) {
    .quest {
      max-width: 80%;
    }
}